.photoContent{
  margin: auto;
  height: 36rem;
  border-radius: .2rem;
  background-color: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(.8);
  animation: scaleUp .2s forwards;
}

@keyframes scaleUp {
  to{
    opacity: initial;
    transform: initial;
  }
}

.photoSingle.photoContent{
  grid-template-columns: 1fr;
  height: auto;
}

.detailsContent{
  padding: 2rem 2rem 0 2rem;
}

.photoSingle .detailsContent{
  padding: 1rem 0px 0px 0px;
}

.imgContent{
  grid-row: 1/4;
}

.photoSingle .imgContent{
  grid-row: 1;
  border-radius: .4rem;
  overflow: hidden;
}

.comments{
  padding: 0 2rem;
}

.authorContent{
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a:hover{
    text-decoration: underline;
  }
}

.visualizacoes{
  &::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-right: .5rem;
    background: url('../assets/visualizacao-black.svg');}
}

.attributesContent{
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;

  li{
    margin-right: 2rem;

    &::before{
      content: '';
      display: inline-block;
      height: 20px;
      margin-right: .5rem;
      position: relative;
      top: 3px;
      width: 2px;
      background: #333;
      margin-top: 5px;
    }

  }
}


@media (max-width: 64rem){
  .photoContent{
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }

  .imgContent{
    grid-row: 1;
  }
}

